.header__lang-link {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
    transition: linear .335s;
}

.header__lang-link:hover {
    box-shadow: 0 1px 0 0 white;
}

@media (max-width: 768px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 24px;
    }
}