.lead__title {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: 12vw;
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-top: 0;
        margin-bottom: 16px;
        max-width: 288px;
    }
}