.cover__text {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

@media (max-width: 320px) {
    .cover__text {
        width: 288px;
    }
}