.lead__subtitle {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    width: 640px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__subtitle {
        font-size: 4vw;
        line-height: 4.5vw;
        margin-top: 0;
        margin-bottom: 56px;
        max-width: 70%;
    }
}

@media (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 40px;
        max-width: 288px;
    }
}