.cover__title {
    width: 560px;
    margin: 0;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

@media (min-width: 426px) and (max-width: 560px) {
    .cover__title {
        font-size: 32px;
        line-height: 36px;
    }
}

@media (max-width: 425px) {
    .cover__title {
        width: 250px;
        margin-bottom: 16px;
        font-size: 32px;
    }
}