.footer__list {
    margin: 0;
    padding: 0;
    align-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 18px;
}

@media (max-width: 425px) {
    .footer__list {
        flex-direction: column;
        align-content: flex-start;
        grid-gap: 0;
        margin-bottom: 32px;
    }
}